{% extends "admin/admin_base.html" %}

 {% block title %}
     <title> 文章分类</title>
 {% endblock %}


 {% block header %}

  {{ super() }}

 {% endblock %}


{% block miancontent %}

    <div class="page-body">


    <div class=" container-xl ">
        <div class="col-12 p-3">
              <a href="{{url_for('admin.category_add')}}" class="btn btn-info ">添加分类</a>
        </div>
    </div>

 <!-- 消息闪现 -->
 {% include 'admin/common/flash.html' %}
 <!-- 消息闪现 -->


      <div class="container-xl">

          <div class="col-12">
              <div class="card">
                          <div class="card-header">
                            <h3 class="card-title">文章分类</h3>
                          </div>
                          <div class="card-body border-bottom py-3">
                            <div class="d-flex">
                              <div class="text-muted">
                                Show
                                <div class="mx-2 d-inline-block">
                                  <input type="text" class="form-control form-control-sm" value="8" size="3" aria-label="Invoices count">
                                </div>
                                entries
                              </div>
                              <div class="ms-auto text-muted">
                                Search:
                                <div class="ms-2 d-inline-block">
                                  <input type="text" class="form-control form-control-sm" aria-label="Search invoice">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="table-responsive">
                            <table class="table card-table table-vcenter text-nowrap datatable">
                              <thead>
                                <tr>
                                  <th class="w-1"><input class="form-check-input m-0 align-middle" type="checkbox" aria-label="Select all invoices"></th>
                                  <th class="w-1">No. <!-- Download SVG icon from http://tabler-icons.io/i/chevron-up -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-sm text-dark icon-thick" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="6 15 12 9 18 15" /></svg>
                                  </th>
                                  <th>Invoice Subject</th>
                                  <th>Client</th>
                                  <th>VAT No.</th>
                                  <th>Created</th>
                                  <th>Status</th>
                                  <th>Price</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>

                                {% for cate in category_list %}

                                 <tr>
                                  <td><input class="form-check-input m-0 align-middle" type="checkbox" aria-label="Select invoice"></td>
                                  <td><span class="text-muted">{{ cate.id }}</span></td>
                                  <td><a href="invoice.html" class="text-reset" tabindex="-1">{{ cate.name }}</a></td>
                                  <td>
                                    <span class="flag flag-country-us"></span>
                                   {{ cate.icon }}6
                                  </td>
                                  <td>
                                   {{ cate.add_date }}3
                                  </td>
                                  <td>
                                    15 Dec 2017
                                  </td>
                                  <td>
                                    <span class="badge bg-success me-1"></span> Paid
                                  </td>
                                  <td>$887</td>

                                     <td class="text-end">
                                         <div class="btn-list flex-nowrap">
                                             <a href="{{ url_for('admin.category_edit',cate_id=cate.id) }}" class="btn">
                                                 Edit
                                             </a>

                                             <a href="{{ url_for('admin.category_delete',cate_id=cate.id) }}" class="btn">
                                                 DELETE
                                             </a>

                                         </div>
                                     </td>
 
                                </tr>

                                {% endfor %}


                              </tbody>
                            </table>
                          </div>


                          <div class="card-footer d-flex align-items-center">
                            <p class="m-0 text-muted">Showing <span>1</span> to <span>8</span> of <span>16</span> entries</p>

                            <ul class="pagination m-0 ms-auto">

                          {% if pagination.has_prev %}
                              <li class="page-item disabled">
                                <a class="page-link" href="{{ url_for('admin.category') }}?page={{ pagination.prev_num }}" tabindex="-1" aria-disabled="true">
                                  <!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="15 6 9 12 15 18" /></svg>
                                  prev
                                </a>
                              </li>
                            {% endif %}
                                {% for page in pagination.iter_pages() %}
                                    {% if page %}
                                        {% if page != pagination.page %}

                                               <li class="page-item"><a class="page-link" href="{{ url_for('admin.category') }}?page={{ page }}">{{ page }}</a></li>

                                        {% else %}
                                             <li class="page-item active"><a class="page-link" href="#">{{ page }}</a></li>
                                        {% endif %}
                                    {% else %}
                                        <span class=pagination-ellipsis>&hellip;</span>
                                    {% endif %}
                                {% endfor %} 

                             {% if pagination.has_next %}
                                  <li class="page-item">
                                    <a class="page-link" href="{{ url_for('admin.category') }}?page={{ pagination.next_num }}">
                                      next <!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
                                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="9 6 15 12 9 18" /></svg>
                                    </a>
                                  </li>
                             {% endif %}

                            </ul>
                          </div>
                        </div>
        </div>

       </div>

    </div>

{% endblock %}



{% block footer %}
        {{ super() }}
{% endblock %}


{% block footerscript %}
<!-- Libs JS -->
 {{ super() }}
{% endblock %}
