{% extends "admin/admin_base.html" %}
 {% block title %}
     <title> 参数配置</title>
 {% endblock %}

 {% block header %}

{{ super() }}

 {% endblock %}


{% block miancontent %}

    <div class="page-body">

        <!-- 消息闪现 -->
        {% include 'admin/common/flash.html' %}
        <!-- 消息闪现 -->


        <div class="container-xl">
            <div class="page-header mb-3">
                <div class="row align-items-center mw-100">
                    <div class="col">
                        <div class="mb-1">
                            <ol class="breadcrumb" aria-label="breadcrumbs">
                                <li class="breadcrumb-item"><a href="#">Administration</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="#">Settings</a></li>
                            </ol>
                        </div>
                        <h2 class="page-title">
                            <span class="text-truncate">设置</span>
                        </h2>
                    </div>
                    <div class="col-auto">
                        <!-- <div class="btn-list">
                           <a href="#" class="btn btn-primary">
                             Save Settings
                           </a>
                         </div>-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 px-4">
                    <div class="list-group list-group-transparent mb-3 ml-3">

                        <a class="list-group-item list-group-item-action d-flex align-items-center "
                           href="javascript:;" onclick="loadPage('preferences')" id="preferences">
                            基础参数
                        </a>

                        <a class="list-group-item list-group-item-action d-flex align-items-center   "
                           href="javascript:;" onclick="loadPage('tab1')" id="tab1">
                            全局设置
                        </a>

                        <a class="list-group-item list-group-item-action d-flex align-items-center"
                           href="javascript:;" onclick="loadPage('tab2')" id="tab2">
                            页面设置                          
                        </a>

                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="row">
                        <div class="col-12" id="loadpage_right">
                            <!--设置-->
                            <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">基础设置</h3>
                      </div>
                      <div class="card-body">
                        <form action="" method="POST">
                          <div class="form-group mb-3 row">
                            <label class="col-3 col-form-label required">网站域名:</label>
                            <div class="col">
                              {{form.pampa_domain(class="form-control",placeholder="网站域名")}}
                              <small class="form-hint">网站域名.</small>
                            </div>
                          </div>
                          <div class="form-group mb-3 row">
                            <label class="col-3 col-form-label required">网站名称:</label>
                            <div class="col">
                          {{form.pampa_title(class="form-control",placeholder="网站名称")}}
                              <small class="form-hint">
                                   网站Home名称
                              </small>
                            </div>
                          </div>


                           <div class="form-group mb-3 row">
                            <label class="col-3 col-form-label required">关键字::</label>
                            <div class="col">
                           {{form.pampa_keywords(class="form-control",placeholder="关键字")}}
                              <small class="form-hint">网站Home关键词.</small>
                            </div>
                          </div>

                              <div class="form-group mb-3 row">
                            <label class="col-3 col-form-label required">网站描述:</label>
                            <div class="col">
                             {{form.pampa_description(class="form-control",placeholder="网站描述")}}
                              <small class="form-hint">网站Home描述.</small>
                            </div>
                          </div>


                              <div class="form-group mb-3 row">
                            <label class="col-3 col-form-label required">网站统计脚本:::</label>
                            <div class="col">
                                 {{form.pampa_tongji_script(class="form-control",placeholder="网站统计脚本")}}
                              <small class="form-hint">存放网站统计JS.</small>
                            </div>
                          </div>


                         <div class="form-group mb-3 row">
                            <label class="col-3 col-form-label required">网站META:::</label>
                            <div class="col">
                                   {{form.pampa_extend_meta(class="form-control",placeholder="网站META")}}
                              <small class="form-hint">存放META标签 类似谷歌SEO社会化标签.</small>
                            </div>
                          </div>



                         <div class="form-group mb-3 row">
                            <label class="col-3 col-form-label required"> 版权说明:</label>
                            <div class="col">
                             {{form.pampa_blog_copyright(class="form-control",placeholder="网站META")}}
                              <small class="form-hint">可以填入网站版权说明等内容.</small>
                            </div>
                          </div>


                          <div class="form-group mb-3 row">
                            <label class="col-3 col-form-label required">备案号:</label>
                            <div class="col">
                                   {{form.pampa_record_no(class="form-control",placeholder="备案号")}}
                              <small class="form-hint">We'll never share your email with anyone else.</small>
                            </div>
                          </div>

                             <div class="form-group mb-3 row">
                            <label class="col-3 col-form-label required">网站开始时间:</label>
                            <div class="col">

                                <!--start-->
                                <div class="input-icon">
                                  <span class="input-icon-addon"><!-- Download SVG icon from http://tabler-icons.io/i/calendar -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><rect x="4" y="5" width="16" height="16" rx="2" /><line x1="16" y1="3" x2="16" y2="7" /><line x1="8" y1="3" x2="8" y2="7" /><line x1="4" y1="11" x2="20" y2="11" /><line x1="11" y1="15" x2="12" y2="15" /><line x1="12" y1="15" x2="12" y2="18" /></svg>
                                  </span>
                                 {#  <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="网站开始时间">#}
                                  {{form.pampa_start_time(class="form-control",placeholder="网站开始时间" ,id="datepicker-icon-prepend")}}
                                </div>
                                  <small class="form-hint">We'll never share your email with anyone else.</small>

                                <!--end-->


                            </div>
                          </div>


               <div class="form-group mb-3  row">
                      <label class="col-3 col-form-label pt-0">开启评论:</label>
                      <div class="col">

                        <label class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox"   name="pampa_comment"  value="1" id="flexRadioDefault1" {% if  form.pampa_comment.data == True %} checked {% endif %} >
                          <span class="form-check-label" for="flexRadioDefault1">{% if  form.pampa_comment.data == True %} 可以关闭  {% else %}  可以开启 {% endif %}</span>
                        </label>


                      </div>
                    </div>


                    <div class="form-group mb-3  row">
                      <label class="col-3 col-form-label pt-0">开启邀请注册:</label>
                      <div class="col">

                        <label class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox"   name="pampa_register_invitecode"  value="1" id="flexRadioDefault1" {% if  form.pampa_register_invitecode.data == True %} checked {% endif %} >
                          <span class="form-check-label" for="flexRadioDefault1">{% if  form.pampa_register_invitecode.data == True %} 可以关闭  {% else %}  可以开启{% endif %}</span>
                        </label>


                      </div>
                    </div>


                  <div class="form-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>

                        </form>
                      </div>
                    </div>
                            <!--设置-->


                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

{% endblock %}




{% block footer %}
        {{ super() }}
{% endblock %}

{% block footerscript %}
    {{ super() }}
{% endblock %}


  {% block  extra_foot_script %}

    <script type="text/javascript" src=" {{ url_for('admin.static', filename='js/jquery-3.6.1.min.js') }}"></script>
    <script>
    function  loadPage(url){

        //alert(url)
        new_url='/admin/setting/'+url
        //alert(new_url)
        // $('#'+url).text("一个有梦想的咸鸭蛋");
        {#$('#'+url).addClass("active").siblings().removeClass("active");#}
         $.ajax({
              type:"GET",
              url:new_url,
              async:true,
              dataType:'html',
              contentType:'application/json;charset=utf-8',
              success:function (html){
                  $('#loadpage_right').html(html);

              }
          })
    }
    </script>




       <!--日期插件-->
 <script type="text/javascript" src=" /admin/static/libs/litepicker/dist/litepicker.js"></script>
  <script>
    // @formatter:off
    document.addEventListener("DOMContentLoaded", function () {
    	window.Litepicker && (new Litepicker({
    		element: document.getElementById('datepicker-icon-prepend'),
    		buttonText: {
    			previousMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="15 6 9 12 15 18" /></svg>`,
    			nextMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="9 6 15 12 9 18" /></svg>`,
    		},
    	}));
    });
    // @formatter:on
  </script>

  <!--日期插件-->

  {% endblock extra_foot_script %}

