{% extends 'base.html' %}

{% block  maincontent_title %}
    <div class="breadcrumbs mb-4"><a href="index.html">Home</a>
        <span class="mx-1">/</span> <a href="#!">归档</a>
        <span class="mx-1">/</span> <a href="#!">{{ date }}</a>
    </div>

    <h1 class="mb-4 border-bottom border-primary d-inline-block">{{ date }}</h1>

{% endblock maincontent_title %}

{% block miancontent %}

    <div class="row">

        {% for post in post_list %}
            <div class="col-md-6 mb-4">
                <article class="card article-card article-card-sm h-100">
                    <a href="{{ url_for('blog.detail',cate_id=post.category.id,post_id=post.id) }}">
                        <div class="card-image">
                            <div class="post-info"><span
                                    class="text-uppercase">{{ post.pub_date.strftime("%Y-%m-%d ") }}</span>
                                <span class="text-uppercase">3 minutes read</span>
                            </div>
                            <img loading="lazy" decoding="async"
                                 src="{{ url_for('blog.static', filename='images/post/ls-2.jpg') }}"
                                 alt="Post Thumbnail" class="w-100" width="420" height="280">
                        </div>
                    </a>
                    <div class="card-body px-0 pb-0">
                        <ul class="post-meta mb-2">
                            <li><a href="#!"> {{ post.category.name }}</a>
                                <a href="#!">news</a>
                            </li>
                        </ul>
                        <h2><a class="post-title"
                               href="{{ url_for('blog.detail',cate_id=post.category.id,post_id=post.id) }}"> {{ post.title }}</a>
                        </h2>
                        <p class="card-text"> {{ post.desc }} …</p>
                        <div class="content"><a class="read-more-btn"
                                                href="{{ url_for('blog.detail',cate_id=post.category.id,post_id=post.id) }}">Read
                            Full Article</a>
                        </div>
                    </div>
                </article>
            </div>
        {% endfor %}



        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <nav class="mt-4">

                        <!-- pagination -->

                        <nav class="mb-md-50">
                            <ul class="pagination justify-content-center">


                                {% if pagination.has_prev %}

                                    <li class="page-item">
                                        <a class="page-link"
                                           href="{{ url_for('blog.archive', date=date ) }}?page={{ pagination.prev_num }}"
                                           aria-label="Pagination Arrow">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26"
                                                 fill="currentColor" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                      d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                                            </svg>
                                        </a>
                                    </li>
                                {% endif %}
                                {% if pagination.has_next %}

                                    <li class="page-item">
                                        <a class="page-link"
                                           href="{{ url_for('blog.archive', date=date) }}?page={{ pagination.next_num }}"
                                           aria-label="Pagination Arrow">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26"
                                                 fill="currentColor" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                      d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                                            </svg>
                                        </a>
                                    </li>

                                {% endif %}

                                {% for page in pagination.iter_pages() %}
                                    {% if page %}
                                        {% if page != pagination.page %}

                                            <li class="page-item  "><a
                                                    href="{{ url_for('blog.archive', date=date) }}?page={{ page }}"
                                                    class="page-link">{{ page }}</a></li>


                                        {% else %}

                                            <li class="page-item active "><a href="#" class="page-link">{{ page }}</a>
                                            </li>

                                        {% endif %}
                                    {% else %}
                                        <span class=pagination-ellipsis>&hellip;</span>
                                    {% endif %}
                                {% endfor %}

                            </ul>
                        </nav>
                    </nav>


                    <!-- pagination -->


                </div>
            </div>
        </div>

    </div>

{% endblock %}