<div class="widget-blocks">
    <div class="row">
        <div class="col-lg-12">
            <div class="widget">
                <div class="widget-body">
                    <img loading="lazy" decoding="async"
                         src="{{ url_for('blog.static', filename='images/author.jpg') }}"
                         alt="About Me"
                         class="w-100 author-thumb-sm d-block">
                    <h2 class="widget-title my-3">Hootan Safiyari</h2>
                    <p class="mb-3 pb-2">Hello, I’m Hootan Safiyari. A Content writter,
                        Developer and
                        Story teller. Working as a Content writter at CoolTech Agency. Quam
                        nihil …</p> <a
                        href="about.html" class="btn btn-sm btn-outline-primary">Know
                    More</a>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-6">
            <div class="widget">
                <h2 class="section-title mb-3">Recommended</h2>
                <div class="widget-body">
                    <div class="widget-list">
                        <article class="card mb-4">
                            <div class="card-image">
                                <div class="post-info"><span class="text-uppercase">1 minutes read</span>
                                </div>
                                <img loading="lazy" decoding="async"
                                     src="{{ url_for('blog.static', filename='images/post/post-9.jpg') }} "
                                     alt="Post Thumbnail" class="w-100">
                            </div>
                            <div class="card-body px-0 pb-1">
                                <h3><a class="post-title post-title-sm"
                                       href="article.html">Portugal and France Now
                                    Allow Unvaccinated Tourists</a></h3>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing
                                    elit, sed do eiusmod tempor …</p>
                                <div class="content"><a class="read-more-btn"
                                                        href="article.html">Read
                                    Full Article</a>
                                </div>
                            </div>
                        </article>


                         {% for post in new_posts %}

                            <a class="media align-items-center" href="{{ url_for('blog.detail', cate_id=post.category.id, post_id=post.id) }}">
                            <img loading="lazy" decoding="async"
                                 src="{{ url_for('blog.static', filename='images/post/post-2.jpg') }}  "
                                 alt="Post Thumbnail" class="w-100">
                            <div class="media-body ml-3">
                                <h3 style="margin-top:-5px">{{ loop.index }}.{{ post.title }}</h3>
                                <p class="mb-0 small">{{ post.desc}}…</p>
                            </div>
                        </a>

                        {% endfor %}

                        <a class="media align-items-center" href="article.html">
                            <img loading="lazy" decoding="async"
                                 src="{{ url_for('blog.static', filename='images/post/post-9.jpg') }} "
                                 alt="Post Thumbnail" class="w-100">
                            <div class="media-body ml-3">
                                <h3 style="margin-top:-5px">Record Utra Smooth Video</h3>
                                <p class="mb-0 small">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing
                                    …</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-6">
            <div class="widget">
                <h2 class="section-title mb-3">Categories</h2>
                <div class="widget-body">
                    <ul class="widget-list">


                        {% for c in cates %}
                         <li><a href="{{ url_for('blog.cate',cate_id=c.id) }}">{{ c.name }}<span class="ml-auto">({{ c.num }} )</span></a>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-6">
            <div class="widget">
                <h2 class="section-title mb-3">归档</h2>
                <div class="widget-body">
                    <div class="widget-list">

                           {% for date in dates %}

                        <li class="pl-2"><a href="{{ url_for('blog.archive', date=date) }}">{{ date }}</a></li>

                         {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-6">
            <div class="widget">
                <h2 class="section-title mb-3">Tags</h2>
                <div class="widget-body">
                    <ul class="widget-list">
                        {% for tag in tags %}
                         <li  ><a class="tag  {{ tag.style|random() }}" href="{{ url_for('blog.tags', tag_id=tag.id) }}"><span class="ml-auto" style="color: white">{{ tag.name }}</span></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>